mixin infoBlock(blocks)
    each blockContent, index in blocks
        .infoBlock(class=index % 2 === 0 && "colored")
            .container
                .infoBlockContent(class=index % 2 !== 0 && "left")
                    .infoBlockText
                        h2.infoBlockTextTitle #{blockContent.title}
                        p.infoBlockTextDescription
                            != blockContent.description.replace(/\n/g, '<br>')
                        a(href=basePath + blockContent.link).infoBlockTextLink Подробнее
                    img(src=basePath + blockContent.image, alt=blockContent.title).infoBlockImage